
php.exe
php.ini
php7ts.dll
php_gd2.dll
php_pdo_sqlite.dll
cache/cache.db
cache/index.db
cache/sql.cache.db
cloc-1.80.exe
libsqlite3.dll
php7.4/php.webserver.cmd
Barcodes/Barcodes.php
Barcodes/BarColor.php
Barcodes/BarException.php
Barcodes/Encoders/Codabar.php
Barcodes/Encoders/Codes.php
Barcodes/Encoders/DMTX.php
Barcodes/Encoders/ITF.php
Barcodes/Encoders/UPC.php
Barcodes/Renderers/Base.php
Barcodes/Renderers/Linear.php
Barcodes/Renderers/Matrix.php
QRCode/QRCode.php
QRCode/QRException.php
QRCode/QRFrame.php
QRCode/QRInput.php
QRCode/QRMask.php
QRCode/QRrsItem.php
php_xdebug-2.8.0beta2-7.4-vc15-x86_64.dll
WinCacheGrind.exe
