body
{
	margin: 4px;
	font-size: 14px;
	text-align: left;
	font-family: tahoma;
	background-color: #FFFFFF;
	background-image: url('../resources/background.console.png');
}

table { margin: 0px; padding: 0px;}

td { margin: 0px; padding: 0px; }

tr { margin: 0px; padding: 0px; }

div.roundedCorner {
	font-size: 10px;
	margin-top: 30px;
	margin-left: 20px;
	width: 330px;
	background: #F0F0F0;
	padding: 10px;
	color: #667309;
	border: 1px solid #E0E0E0;
}

div.roundedCorner table{
	margin-bottom: 8px;
}


td.topMenu
{
	border: 1px solid #FEFEFE;
	background-color: #EAEAEA;
	cursor: hand;
	cursor: pointer;
	padding: 10px 5px 10px 5px;
}

table.defaultTable
{
	background-color: #E8E8E8;
	padding: 1px;
	border-top: 1px solid #F5F5F5;
	border-bottom: 1px solid #E0E0E0;
}

div.topTable > table
{
	padding: 2px;
}

input
{
	font-size: 10px;
}

input[type="text"]
{
	width: 50px;
	border: 1px solid #D0D0D0;
	background-color: #FFFFFF;
	vertical-align: middle;
	font-weight: normal;
	text-align: center; 
	color: #707070;
	outline: none;
	height: 15px;
}

select
{
	border: 1px solid #D0D0D0;
	background-color: #FFFFFF;
	vertical-align: middle;
	font-weight: normal;
	color: #707070;
	outline: none;
	font-size: 10px;
	height: 19px;
}

input[type="submit"]
{
	border: 1px solid #D0D0D0;
	background-color: #FFFFFF;
	vertical-align: middle;
	font-weight: normal;
	color: #707070;
	outline: none;
}

pre
{
	font-size: 11px;
	background-color: #FFFFFF;
	border: 1px solid #E0E0E0;
	padding: 5px;
	margin-top: 20px;
	text-align: left;
	overflow-x: auto;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap !important;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

a.link:link		{ text-decoration: none; }
a.link:visited		{ text-decoration: none; }
a.link:hover		{ text-decoration: underline; }

a.smallLinkGrey:link    { text-decoration: none; color: #6A6A6A; }
a.smallLinkGrey:visited { text-decoration: none; color: #6A6A6A; }
a.smallLinkGrey:hover   { text-decoration: underline; color: #6A6A6A; }

a.smallLinkBlack:link    { text-decoration: none; color: #000000; }
a.smallLinkBlack:visited { text-decoration: none; color: #000000; }
a.smallLinkBlack:hover   { text-decoration: underline; color: #000000; }
